@model IEnumerable<DashboardWebapp.Models.Category>

@{
    ViewBag.Title = "Index";
}


@{int count = 0;}

<br />

<h4>
    <a onclick="OpenAddModal()" style="cursor:pointer">
        <img src="@Url.Content("~/Images/add-button.png")" style="width:40px;height:40px;" />
        Add Category
    </a>
</h4>

<h2>Categories</h2>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    No.
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                //using (Html.BeginForm("Delete", "Categories", new { id = item.Id }))
                //{
                    <tr>
                        <td>
                            @{ count = count + 1;}
                            @count
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a onclick="OpenEditModal(@item.Id)" style="cursor:pointer">Edit</a> &nbsp;
                            <a onclick="OpenDeleteModal(@item.Id)" style="cursor:pointer;color:#C00000">Delete</a>
                            @*<input type="submit" style="border:none; background-color:transparent; color:#C00000" value="Delete"
                                   onclick="return confirm('Are you sure you want to delete the @item.Name category? Please note that you may not delete a category which is currently in use.');" />*@
                        </td>
                    </tr>
                @*}*@
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<!-- Edit Category Modal -->
<div class="modal fade" id="EditModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#286090; color:white">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center"><b>Edit Category</b></h4>
            </div>
            <div class="modal-body" id="EditPreview">
            </div>

        </div>

    </div>
</div>

<!-- Delete Category Modal -->
<div class="modal fade" id="DeleteModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#286090; color:white"> @*3 Sep: the exact shade of blue to match btn-primary*@
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center"><b>Delete Category</b></h4>
            </div>
            <div class="modal-body" id="DeletePreview">
            </div>
        </div>
    </div>
</div>

<!-- Add Category Modal -->
<div class="modal fade" id="AddModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#286090; color:white">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center"><b>Add Category</b></h4>
            </div>
            <div class="modal-body" id="AddPreview">
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    //$(document).ready(function () {
        function alignModal() {
            var modalDialog = $(this).find(".modal-dialog");
            /* Applying the top margin on modal dialog to align it vertically center */
            modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
        }

    function OpenEditModal(currentId) {
        $.ajax({
            type: "Get",
            url: '@Url.Action("EditCategory", "Categories")',
            data: { id: currentId },
            success: function (data) {
                $('#EditPreview').html(data);
                $('#EditModal').modal('show');
            }
        })
    }
    function OpenDeleteModal(currentId) {
        $.ajax({
            type: "Get",
            url: '@Url.Action("DeleteCategory", "Categories")',
            data: { id: currentId },
            success: function (data) {
                $('#DeletePreview').html(data);
                $('#DeleteModal').modal('show');
            }
        })
    }
     function OpenAddModal() {
        $.ajax({
            type: "Get",
            url: '@Url.Action("AddCategory", "Categories")',
            data: null,
            success: function (data) {
                $('#AddPreview').html(data);
                $('#AddModal').modal('show');
            }
        })
    }
</script>

<style>
    .modal-dialog{
        height: 400px;
        top: calc(50% - 200px) !important;
    }
</style>
